.options {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20vw;
    bottom: 25%;
    left: 5%;
    align-items: center;
}

.game-options {
    margin: 0.75em;
    display: flex;
    flex-direction: row;
    width: 25em;
    justify-content: center;
}

.game-options button {
    margin: 0.25em;
}

.bet-amount {
    margin-right: 0.5em;
    font-size: 1em;
    font-weight: 600;
    height: 2em;
    width: 6em;
    line-height: 2em;
    text-align: center;
    color: white;
    background-color: #1f2e2e;
    border: 1px solid #434c56;
    border-radius: 0.3em;
    box-shadow: 0 0 14px 4px #141f1f;
}

.bet-options {
    display: flex;
    margin: 0.75em;
    justify-content: center;
    width: 15em;
}

.bet-options button {
    margin: 0.15em;
    height: 2em;
    line-height: 0;
}

.players-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    margin: 0.75em;
    border: 1px solid #434c56;
    border-radius: 0.3em;
    box-shadow: 0 0 16px 6px #141f1f;
    width: 15em;
    min-height: 10vh;
    color: white;
    background-color: #1f2e2e;
}

/* Media Queries */
@media screen and (max-width: 1100px) {
    /* Controllables */
    .options {
        width: 16vh;
        left: 5%;
        bottom: 0;
    }

    .players-balance {
        width: 11em;
    }

    .bet-amount {
        width: 4.5em;
    }

    .game-options {
        flex-direction: column;
        width: 7em;
    }
}

@media screen and (max-width: 900px) {
    /* Controllables */
    .options {
        width: 14vh;
        left: 6%;
        bottom: 0;
    }

    .players-balance {
        width: 9em;
    }

    .bet-amount {
        width: 4em;
    }

    .game-options {
        flex-direction: column;
        width: 6em;
    }
}